<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title th:text="${user.name}  + ' | Saved Contacts'"></title>
</head>

<body>


    <div id="content">

        <!-- sidebar  -->
        <div th:if="${user}" >
            <div th:replace="user/sidebar::sidebar"></div>
        </div>

        <div class="p-4 pt-16 pr-4 mt-24 md:ml-56 md:pt-0 gap-y-4 sm:ml-64 max-[1270px]:pt-52  " >


            <div>
                <h1 class="pt-2 text-center text-4xl text-gray-800 pb-2 dark:text-white md:ml-8">All Your contacts </h1>
            </div>

            <!--  contact container here onwards -->

            <div class="contact_container ">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

                    <!-- search form -->
<div class="flex sm:flex-col flex-row justify-between items-center bg-white dark:bg-gray-900">
                    <form th:object="${searchForm}" th:action="@{/user/contact/search}" validate="true">
                        <div
                            class=" flex items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">

                            <!-- search selection container -->



                            <div class="pt-2 pl-6 mr-2 search_selection flex items-center justify-between  ">
                                <label for="countries_disabled"
                                    class="block mb-2  mr-3 pt-2 text-sm font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                    Sort By
                                </label>
                                <select th:field="*{field}" id="countries_disabled"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="">Select</option>
                                    <option value="name">Name</option>
                                    <option value="phone">Phone</option>
                                    <option value="email">Email</option>

                                </select>
                            </div>



                            <!-- search bar  -->

                            <div class="relative w-80 pt-2">
                                <!-- Search icon inside input -->
                                <div class="absolute start-0 top-0 h-full flex items-start ps-3 pt-4.5">
                                    <i class="fa-solid fa-magnifying-glass text-gray-500 dark:text-gray-400"></i>
                                </div>

                                <!-- Input field with left padding to make room for icon -->
                                <input th:field="*{keyword}" type="text" id="table-search-users"
                                    class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Search for users" required />
                            </div>


                            <!-- button -->
                            <div class="pt-4">
                                <button type="submit"
                                    class="ml-2.5 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-800 dark:hover:bg-blue-700 dark:focus:ring-blue-700 dark:border-blue-700">Search</button>
                            </div>


                        </div>

                    </form>
                    <div th:unless="${contacts.empty}">
    <button type="button" onclick="exportData()"
                                    class="ml-2.5 text-white bg-green-700 hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-800 dark:hover:bg-green-700 dark:focus:ring-green-700 dark:border-green-700">Export</button>
</div>
</div>


                    <table th:unless="${contacts.empty}" id="contact-table"
                        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>

                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Phone
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Links
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <!--  each contact being shown from here -->

                            <tr th:object="${c}" th:each="c : ${contacts.getContent()}"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">

                                <th scope="row"
                                    class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-10 h-10 rounded-full" th:src="@{*{profilePic}}" alt="Jese image"
                                        onerror="this.src='https://imgs.search.brave.com/Rsqj-i9kTqj1xn9KchyzS5aAGdNqsZACJ2x8gn91vTM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9wcm9m/aWxlLXBsYWNlaG9s/ZGVyLWltYWdlLWdy/YXktc2lsaG91ZXR0/ZS1uby1waG90by1w/cm9maWxlLXBsYWNl/aG9sZGVyLWltYWdl/LWdyYXktc2lsaG91/ZXR0ZS1uby1waG90/by1wZXJzb24tYXZh/dGFyLTEyMzQ3ODQz/OC5qcGc'">
                                    <div class="ps-3">
                                        <div class="text-base font-semibold" th:text="*{name}">Neil Sims</div>
                                        <div class="font-normal text-gray-500" th:text="*{email}">neil.sims@flowbite.com
                                        </div>
                                    </div>
                                </th>
                                <td class="px-6 py-4">
                                    <i class="fa-solid fa-phone w-4 h-4"></i>
                                    <span th:text="*{phone}"></span>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center ">
                                        <a th:href="@{#}" target="_blank"><i
                                                class="fa-solid fa-earth-americas h-5 w-5 pt-1"></i>


                                            <span th:text="*{socialMedia}"></span>
                                            <i class="fa-solid fa-heart" th:if="*{isFavorite}"></i>
                                    </div>

                                </td>
                                <td class="px-6 py-4">

                                    <div>
                                        <!-- buttons heret to delete, view and update contacts -->



                                        <!-- <a th:href="@{'/user/contact/delete/' + ${c.contactId}}"><i class="fa-solid fa-trash h-6 w-6"></i></a> -->
                              <!--  delete button -->
                                       <button th:data-id="${c.contactId}" th:onclick="deleteContact(this.getAttribute('data-id'))"><i
                                                class="fa-solid fa-trash h-6 w-6"></i></button>


                                                <!-- Edit button -->
                                       <a th:href="@{'/user/contact/view/'+${c.contactId}}"><i class="fa-solid fa-pen h-6 w-6"></i></a>

<!-- view button -->
                                        <button th:data-id="${c.contactId}"
                                            th:onclick="loadContactData(this.getAttribute('data-id'))"><i
                                                class="fa-solid fa-eye h-6 w-6"></i></button>



                                    </div>

                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>

                <h1 th:if="${contacts.empty}" class="text-center text-3xl ">No contact(s) found</h1>
            </div>


            <!-- pagination -->
            <nav th:unless="${contacts.empty}" aria-label="Page navigation example" class="flex items-center justify-center mt-4">
                <ul class="flex items-center -space-x-px h-8 text-sm">
                    <li th:unless="${contacts.first}">
                        <a th:href="@{'/user/contact?page='+ ${contacts.number-1}}"
                            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Previous</span>
                            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M5 1 1 5l4 4" />
                            </svg>
                        </a>
                    </li>
                    <li class="flex items-center" th:each="index: ${#numbers.sequence(0,contacts.totalPages - 1)}">
                        <a th:classappend="${index==contacts.number ? 'bg-blue-200 dark:bg-gray-700' : 'bg-white dark:bg-gray-800'}"
                            th:href="@{'/user/contact?page=' + ${index}}"
                            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span th:text="${index}+1"></span>

                        </a>
                    </li>



                    <li th:unless="${contacts.last}">
                        <a th:href="@{'/user/contact?page='+ ${contacts.number+1}}"
                            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Next</span>
                            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 9 4-4-4-4" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>

            </h1>

            <div th:replace="~{user/contact_modal_view::contact_modal}"></div>

        </div>




    </div>


    <script th:src="@{'/js/contact_modal.js'}"></script>
<script src="
https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js
"></script>
    <script>
        function exportData(){
            TableToExcel.convert(document.getElementById("contact-table"), {
  name: "SmartContactManagerContacts.xlsx",
  sheet: {
    name: "Sheet 1"
  }
});
        }
    </script>
</body>

</html>