<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
    <head>
  <title>About page</title>
    </head>
    <body>
         <div class="p-4" id="content">


<div class="border mt-48 lg:mt-28 w-full max-w-4xl mx-auto p-6 sm:p-8 bg-white dark:bg-gray-800 rounded-2xl shadow-xl flex flex-col sm:flex-row items-center gap-6 text-gray-900 dark:text-white">
  <img src="/images/image.png" alt="Abhishek's Photo" class="w-32 h-32 rounded-full object-cover border-4 border-blue-500 shadow-md" />
  
  <div class="text-center sm:text-left">
    
      <h2 class="text-2xl sm:text-3xl font-bold mb-2">About Developer</h2>
   
    
     
    <p class="text-base sm:text-lg">
      Hi, I'm Abhishek Kumar. I'm a graduate of IIT Kharagpur — a passionate developer, curious problem-solver, and lifelong learner. I thrive on building meaningful digital experiences and continuously seek opportunities to grow through technology and innovation.
    </p>
  </div>
</div>




  </div>
 <script>
    console.log("This is the about page");
 </script>
    </body>
 
</html>
