<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}" >
    <head>
  <title>home page</title>
    </head>
    <body >
         <div class="p-4 " id="content">
    <div class="border mt-48 lg:mt-28 w-full max-w-4xl mx-auto p-6 sm:p-8 bg-white dark:bg-gray-800 rounded-2xl shadow-xl flex flex-col sm:flex-row items-center gap-6 text-gray-900 dark:text-white">
  
  
  <div class="text-center sm:text-left">
    <h2 class="text-2xl sm:text-3xl font-bold mb-2">Smart Contact Manager</h2>
    <p class="text-base sm:text-lg">
      I'm building a smart platform to schedule messages, send bulk emails, and manage communication effortlessly. Ideal for businesses, professionals, and anyone who values timely outreach.
    </p>
  </div>
</div>

  </div>
 <script>
    console.log("This is the home page");
 </script>
    </body>
 
</html>
