<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
  <title>Signup page</title>
</head>

<body>





  <div class="p-4" id="content">

    <div class="grid grid-cols-12">
      <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
      <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
        <!--  below one is the signup card -->
        <div
          class="block  p-6  border-t-[10px] border-blue-500 bg-white rounded-xl shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
   
   <!-- notification here -->
    <div th:replace="notification::notificationbox"></div>

          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Signup Here</h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">Continue to signup..</p>
          <form th:action="@{'/register'}" th:object="${signupForm}"  method="post" class="mt-5">
            <!--  username -->
              <!-- th:field="*{name}" this is being used to populate the backend form to frontend and fetch as well -->
            <div class="mb-3">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
              <input type="text" id="name"
               th:field="*{name}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Abhishek Kumar" required />
            </div>
            <!-- email -->
             <div class="mb-3">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
    <input th:field="*{email}" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@abhishek.com" required />
  </div>
<!--  password -->
       <div class="mb-3">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
    <input th:field="*{password}" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Password@12345" required />
  </div>
<!-- phone number -->
       <div class="mb-3">
    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Number</label>
    <input th:field="*{phone}" type="text" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="+00 123 456 7890" required />
  </div>

  <!-- about area  -->
<label for="about" class="block mb-3 text-sm font-medium text-gray-900 dark:text-white">About</label>
<textarea th:field="*{about}" id="about" rows="2" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your about here..."></textarea>


<!-- button -->
 <!-- signup button -->
    <div class="flex justify-center">
<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-2 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Signup</button>
<!--  reset button -->
<button type="reset" class="text-white bg-red-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-2 me-2 mb-2 dark:bg-red-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Reset</button>
    </div>
          </form>
        </div>

        <!-- card ends here -->


      </div>
    </div>



  </div>





  <script>
    console.log("This is the signup page");
  </script>
</body>

</html>